.window.设置 {
    width: 800px;
    height: 500px;
    background-color: #f0f0f0 !important;
}

/* 工具 返回 向前 */
.设置 .tools {
    position: absolute;
    top: 17.5px;
    left: 100px;
}

.设置 .tools img {
    width: 25px;
    height: 25px;
}

.设置  .tools img:first-child {
    margin-right: 10px;
}

/* 搜索框 */
.设置 .search {
    position: absolute;
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #327dfb;
    border-radius: 20px;
    top: 15px;
    left: calc(50% - 100px);
    background-color: rgb(235, 235, 235);
    text-indent: 1rem;
    z-index: 3;
}

.设置 .search:focus {
    border: 2px solid #327dfb;
}

.设置 .setting-list {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 5rem 5rem 5rem;
    justify-content: space-around;
    align-content: center;
    grid-row-gap: 3rem;
    padding: 3rem;
}

.设置 .setting-list .setting-item {
    width: 10rem;
    height: 6.18rem;
    border-radius: 0.5rem;

    border: 1px solid rgba(230, 230, 230, 0.815);
    background-color: rgba(230, 230, 230, 0.815);
    border: 1px solid rgba(255, 255, 255, 0);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.设置 .setting-item img.icon {
    width: 3.2rem;
    height: 3.2rem;
}

.设置 .setting-list .setting-item:hover {
    border: 1px solid #327dfb;
}

/* 外观 appearance */
.appearance {
    padding: 20px 80px;
}

.appearance > div {
    margin: 20px 0;
}

.appearance .wallpaper {
    display: flex;
    flex-direction: column;
}

.appearance .wallpaper div {
    margin: 10px 0;
}

.appearance .wallpaper img {
    width: 120px;
    height: 70px;
    border-radius: 4px;
    margin-right: 20px;
    border: 2px solid #ffffff00;
}
.appearance .wallpaper img:hover,
.appearance .wallpaper img.selected {
    border: 2px solid #327dfb;
}

.appearance > div:nth-child(2),
.appearance > div:nth-child(3),
.appearance > div:nth-child(4) {
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.appearance > div:nth-child(4) span {
    margin-left: 20px;
}