/* 导航栏 */
#nav {
    width: 100vw;
    padding: 0 10px;
    height: 1.5rem;
    background-color: rgba(172, 172, 172, 0.336);
    backdrop-filter: blur(10px);	
    -webkit-backdrop-filter: blur(5px);	
    color: #fff;
    font-size: 14px;
    box-shadow: 0 1px 5px 5px rgba(20, 20, 20, 0.027);
    z-index: 200;
}
/* 导航栏的左右项 */
#nav > div {
    line-height: 1.5rem;
    height: 1.5rem;
}
/* 导航栏中的一项 */
#nav .nav-item {
    padding: 0 10px;
    cursor: pointer;
    position: relative;
}
#nav > div > div:hover {
    background-color: rgba(212, 212, 212, 0.281);
    border-radius: 0.2rem;
}
/* 菜单 */
#nav > div > div .menu::before {
    box-sizing: border-box;
    /* padding: 5px 0; */
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.774);
    z-index: -1;
    filter: blur(0.5px);
}
#nav > div > div .menu {
    width: 180px;
    color: #000;
    position: absolute;
    left: 0;
    display: none;
    flex-direction: column;
    /* padding: 5px 0; */
    border-radius: 5px;
    background-color: rgba(224, 221, 221, 0.678);
}
#nav > div > div .menu li:first-child {
    margin-top: 10px;
}

#nav > div > div .menu li:last-child {
    margin-bottom: 10px;
}

.menu li {
    padding: 2px 10px;
}

.menu li:hover {
    border-radius: 5px;
    background-color: #327dfb;
    color: #fff;
}

#nav > div > div:hover .menu {
    display: flex;
}

#nav > div > div {
    position: relative;
}

#nav .left {
    float: left;
}

#nav .left .nav-item {
    float: left;
}
/* 导航栏右 */

#nav .right {
    float: right;
}
#nav .right .nav-item {
    float: left;
}

#full-screen-btn {
    width: 1.5rem;
    height: 1.5rem;
    font-weight: 600;
    color: #fff;
}

/* 桌面 */
#desktop {
    width: 100%;
    height: calc(100% - 4.5rem);
    box-sizing: border-box;
    position: relative;
}

#desktop .app-icon-wrapper {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    user-select: none;
    margin: 1.5rem;
    position: absolute;
}

#desktop .app-icon-wrapper .app-icon{
    width: 100%;
    height: 100%;
}
#desktop .app-icon-wrapper .app-name {
    text-shadow: #000 0 0 1px;
}

/* 程序坞 dock */
#dock-wrapper {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dock {
    height: 100%;
    background-color: rgba(238, 238, 238, 0.349);
    backdrop-filter: blur(5px);	
    border-radius: 1rem;
    border: 1px solid #b3b3b352;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#dock .app-icon-wrapper {
    box-sizing: border-box;
    margin: 0 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    text-align: center;
}

#dock .app-icon-wrapper img {
    width: 100%;
    height: 100%;
    user-select: none;
}

#dock .app-icon-wrapper .app-name {
    display: none;
}

/* launchpad app列表 */
#launchpad {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.76);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 50;
}

#launchpad.active {
    display: block;
}

.launch-pad-apps {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    overflow: hidden;
}

.launch-pad-apps div {
    width: 4rem;
    height: 4rem;
    background-color: rgba(221, 221, 221, 0.582);
    border-radius: 50%;
    margin: 1rem;
    cursor: pointer;
    text-align: center;

}

.launch-pad-apps div img{
    width: 80%;
    height: 80%;
    padding: 10%;
}
