.before-enter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url(../../images/wallpapers/wallpaper3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(54, 54, 54, 0.787); */
    backdrop-filter: blur(20px);
    z-index: 200;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1rem;
}

.before-enter div.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* 标题 */
.before-enter .header {
    position: absolute;
    top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.before-enter .header .name {
    font-size: 5rem;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

/* 输入框 */
.before-enter div input {
    width: 15rem;
    height: 2rem;

    border: none;
    border-radius: 1rem;
    text-indent: 1rem;
    outline: none;

    background-color: rgba(233, 233, 233, 0.705);
    caret-color:#fff;
    color: #fff;
    margin:2rem 0 1.5rem;
    font-size: 14px;
}

.before-enter div span {
    color: #e6e6e6;
}

/* 底部信息 */
.before-enter .footer {
    position: absolute;
    bottom: 2rem;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.before-enter .footer .description {
    margin-bottom: 0.5rem;
}


.before-enter .footer a {
    color: #fff;
}

.before-enter .footer a:hover {
    
}