@import "./reset.css";
@import "./window.css";

#main {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/wallpaper1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 导航栏 */
#nav {
    width: 100%;
    background-color: rgba(172, 172, 172, 0.2);
    backdrop-filter: blur(5px);	
    /* color: #ebf1f2; */
    color: #fff;
    font-size: 13px;
}

#nav ul {
    height: 1.5rem;
}

#nav li {
    /* margin: 0 0.5rem; */
    padding: 0 0.5rem;
    line-height: 1.5rem;
    cursor: pointer;
}

#nav li:hover {
    background-color: rgba(212, 212, 212, 0.281);
    border-radius: 0.2rem;
}

#nav .nav-left {
    float: left;
}

#nav .nav-left li {
    float: left;
}

#nav .nav-right {
    float: right;
}
#nav .nav-right li {
    float: right;
}

#full-screen-btn {
    font-weight: 600;
    color: #fff;
}
/* 导航栏右 */
/* #full-screen-btn.active {
    color: #0a60ff;
} */

/* 桌面 */
#desktop {
    /* background-color: rgba(180, 169, 153, 0.336); */
    width: 100%;
    height: calc(100% - 4.5rem);
    padding: 1rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);

    justify-items: center;
    align-items: center;
}

#desktop>div {
    cursor: pointer;
}

#desktop>div i {
    font-size: 4rem;
}

/* 程序坞 */
#dock {
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    z-index: 100;
    /* background-color: rgba(0, 0, 0, 0.4); */

    
}

.dock {
    position: absolute;
    left: 50%;
    bottom: 0.2rem;
    margin-left: -3rem;
    background-color: rgba(238, 238, 238, 0.349);
    backdrop-filter: blur(5px);	
    border-radius: 1rem;
    border: 1px solid #b3b3b352;
}

#dock .dock li {
    box-sizing: border-box;
    margin: 0 0.5rem;
    font-size: 2.8rem;
    width: 3rem;
    height: 3rem;
    float: left;
    cursor: pointer;
    text-align: center;
}

#dock .dock li img {
    width: 100%;
    height: 100%;
}
/* 应用程序 */
/* 按钮 */
.application-list-btn {

}
/* 列表 */
#app {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    filter: drop-shadow(1rem);
    display: none;
    z-index: 50;
}

#app.active {
    display: block;
}

.app {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    overflow: hidden;
}

.app li {
    width: 4rem;
    height: 4rem;
    background-color: rgb(53, 56, 53);
    border-radius: 50%;
    margin: 1rem;
    color: bisque;
    cursor: pointer;
}