.window {
    /* width: 900px;
    height: 600px; */
    background-color: #e8edeee7;
    backdrop-filter: blur(12px); 
    border-bottom: 1px solid #b9bebf;


    position: absolute;

    /* top: 50%;
    left: 50%; */
    top: 50px;
    left: 50px;

    /* margin-left: -300px;
    margin-top: -150px; */

    border-radius: 0.5rem;
    overflow: hidden;

}

.window .tools-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.window .tools-bar div {
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 0.5rem;
}
/* .window .tools-bar div:first-child {
    color: orange;
    background-color: orange;
}

.window .tools-bar div:nth-child(2) {
    color: green;
    background-color: green;
}

 */
 .window .tools-bar div.close {
    color: red;
    background-color: red;
}
.window .tools-bar div:hover {
    /* background-color: rgb(169, 177, 184); */
    color: rgb(29, 29, 29);
}
